@media (prefers-color-scheme:dark) {
	.logo {
		filter: invert();
		opacity: 0.9;
	}
}

* {
	user-select: none;
	box-sizing: border-box;
}

label {
	font-family: monospace;
}

select,
button {
	font-weight: bold;
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

h1 img {
	height: 80px;
	margin-right: 5px;
	margin-top:10px;
}

article header {
	font-size: 1.5rem;
	font-weight: bold;
}

figure img {
	border-radius: 0.3rem;
}

[role="button"] {
	margin-bottom: 0.3rem;
}


.contrast {
	border: 1px solid grey;
	color: grey;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

footer[align="center"] {
	position: relative;
	bottom: 0px;
	resize: none;
}

i {
	margin: 20px;
	scale: 1.2;
}

#status {
	display: flex;
	position: relative;
	justify-content: center;
	padding-top: 10px;
	width: 95%;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -40%);
	margin-top: 45px;
}
.gg-check::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -5px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

#status i {
	scale: 4;
}
.input-container {
	display: flex;
	align-items: center;
  }
  .input-container input[type="url"] {
	flex: 1;
	padding-right: 30px; 
  }
  .input-container .fa-paste {
	margin-left: 10px; 
	cursor: pointer;
	padding: 18px;
   margin-bottom: 16px;
   border-radius: 5px;
  }
   .voltage-button {
  position: relative;
}

.voltage-button button {
  color: white;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5rem;
  border: 5px solid #5978F3;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
  margin-bottom: -10px;
}

.voltage-button button:hover {
  cursor: pointer;
  background: #0F1C53;
}

.voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
  opacity: 1;
}

.voltage-button svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

.voltage-button svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
  stroke: #6bfeff;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}
h2{
	margin: 0px;
}
.shadow__btn {
	padding: 10px 20px;
	border: none;
	font-size: 17px;
	color: #fff;
	border-radius: 7px;
	letter-spacing: 4px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.5s;
	transition-property: box-shadow;
  }
  
  .shadow__btn {
	background: rgb(0,140,255);
	box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
	box-shadow: 0 0 5px rgb(0,140,255),
				0 0 25px rgb(0,140,255),
				0 0 50px rgb(0,140,255),
				0 0 100px rgb(0,140,255);
  }
  .navbar-brand{
	padding-top: 2px;
    padding-bottom: 2px;
    margin-right: var(--bs-navbar-brand-margin-end);
    text-decoration: none;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  header{
	background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  padding: 5px !important;
	text-align: center;
  border-radius: 10px;
  }
  .card {
    color: #0062f2;
    font-size: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card i {
    font-size: 48px;
    color: #007bff !important;
    margin-bottom: 20px;
    display: block;
    transition: color 0.3s ease-in-out;
  }

  .card:hover i {
    color: #0056b3;
  }

  .card h3 {
    font-size: 20px;
    margin: 5px;
    color: #333;
    transition: color 0.3s ease-in-out;
  }

  .card:hover h3 {
    color: #000;
  }

  .card p {
    font-size: 16px;
    color: #666;
    transition: color 0.3s ease-in-out;
  }

  .card:hover p {
    color: #444;
  }
  .heading-1{
    color: white;
    font-size: 28px;
  }